body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.content-container {
    width: 1170px;
    margin: 0 auto;
}

header {
    display: grid; 
    grid-template-columns: 70px auto;
    margin-top: 29px;
}

header .links {
    text-align: right;
    padding-right: 130px;
    margin-top: 13px;
}

header .links .link {
    display: inline-block;
    background-color: #ffffff;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-left: 20px;
    padding: 3px 15px;
    
}

header .links .link.active, header .links .link:hover {
    border-top: 1px solid #333333;
    border-bottom: 1px solid #333333;
}

header .links .link a {
    text-decoration: none;
    color: #333333;
}

